<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <link rel="stylesheet" href="../static/index.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <div id="firstPageBackground">
            <div id="header">
                <div id="logo">
                    <a href="/">
                        <img src="../static/images/InvigilAI.png" alt="" />
                    </a>
                </div>
                <div id="navBar">
                    <div class="home">
                        <a href="/">Home</a>
                    </div>
                    <div class="aboutUs">
                        <a href="./aboutUs"> About Us</a>
                    </div>
                    <div class="howItWork">
                        <a href="./howItWorks"> How does it Work ?</a>
                    </div>
                </div>
            </div>
            <div id="aboutUsContent">
                <h1><u>    
                    Hello! This is InvigilAI</h1>
                </u>
                <h3>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Aliquam doloremque nesciunt eaque dignissimos sunt
                    architecto ad dolorem sint minus aspernatur. Ex sapiente
                    velit iure maiores ipsum libero id nulla amet.
                </h3>
            </div>
            <div id="footer">
                <h1>Contact us at</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum fugit optio consequatur, unde accusantium ad
                    corrupti fugiat sint sunt dolore provident debitis laborum?
                    Quae recusandae ratione tempore, reiciendis adipisci
                    corporis.
                </p>
            </div>
        </div>
    </body>
</html>
