<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles.css" />
        <link rel="stylesheet" href="../static/index.css" />
        <title>Main Page(Teachers)</title>
    </head>
    <body>
        <div id="adminBackground">
            <div id="header">
                <div id="logo">
                    <a href="/">
                        <img src="/static/images/InvigilAI.png" alt="" />
                    </a>
                </div>

                <div id="navBar">
                    <div class="home">
                        <a href="/">Home</a>
                    </div>
                    <div class="aboutUs">
                        <a href="./aboutUs">About Us</a>
                    </div>
                    <div class="howItWork">
                        <a href="./howItWorks"> How does it Work ?</a>
                    </div>
                </div>
            </div>
            <div id="profileContent">
                <div id="profileSection">
                    <div class="burger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="profile-section">
                        <img
                            src="../static/images/profile.png"
                            alt="Profile Icon"
                            class="profile-icon"
                        />
                        <span class="profile-text">Profile</span>
                    </div>
                </div>
            </div>
            <div id="teachersAllContent">
                <div id="teachersMainContent">
                    <div id="scheduleExam" class="content">
                        <a href="./scheduleExam"> Schedule Exam </a>
                    </div>
                    <div id="Statistics" class="content">
                        <a href="./admin"> Statistics </a>
                    </div>
                    <div id="students" class="content">
                        <a href="./studentsList"> Students </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <h1>Contact us at</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatum fugit optio consequatur, unde accusantium ad corrupti
                fugiat sint sunt dolore provident debitis laborum? Quae
                recusandae ratione tempore, reiciendis adipisci corporis.
            </p>
        </div>
    </body>
</html>
